<div id="comment-form" class="container">

  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p class="comment">
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p class="comment">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
  