<button class="home"><%= link_to "Home", articles_path(@article) %></button>
<h1><%= @article.title %></h1>
<div class="wrapper">
<p><%= @article.body %></p>

<div class="footer-btns">
 <button><%= link_to "Edit", edit_article_path(@article) %></button>
 <button><%= link_to "Destroy", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></button>
</div>

<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment</h4>
<%= render 'comments/form' %>
</div>